aiohttp==3.7.
async-timeout
asyncio==3.4.
attrs==20.3.0
beautifulsoup
bs4==0.0.1
certifi==2020
chardet==3.0.
idna==2.10
multidict==5.
requests==2.2
soupsieve==2.
typing-extens
urllib3==1.26
yarl==1.6.3